@model gestionresto1.Models.Commande

@{
    ViewData["Title"] = "Deletecommande";
  
}

<h1>Deletecommande</h1>

<h3>Are you sure @ViewBag.UserName to delete this ?</h3>
<div>
    <h4>Commande</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomuser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomuser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prenomuser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prenomuser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomproduit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomproduit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Content(Model.image)" alt="Product Image" style="height: 100px; width: 100px;" />
        </dd>
    </dl>
    
    <form asp-action="Deletecmd">
        <input type="hidden" asp-for="idcommande" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
